* {
    box-sizing: border-box;
}

:root {
    --orange: #c79125;
    --beige: #e5e7eb;
    --azure: #3882f6;
    --blue-gray: #dddee0;
    
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 3fr;
}
.sidebar {
    grid-row: 1/3;
   
    background-color: var(--azure);
    color: white;
}

.sidebar ul {
    list-style: none;
}
header {
    grid-column: 2/3;
    border: 1px solid black;
    display: grid;
    grid-template: 1fr 1fr/2fr 1fr;

}
main {
    grid-column: 2/3;
    border: 1px solid black;
    display: flex;
    background-color: var(--blue-gray);
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

}