* {
    box-sizing: border-box;
}

:root {
    --orange: #c79125;
    --beige: #e5e7eb;
    --azure: #3882f6;
    --blue-gray: #acb8ce;
    
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin: 0 auto;
}


